*{
    margin: 0%;
    padding: 0%;
}

ul{
    list-style: none;
}

body{
    height: 100%;
    overflow: hidden;
    
}

.game-text{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
    color: white;
    font-size: 50px;


}

.game-text > button{
    padding: 0.5rem 1rem;
    color: white;
    background: #00bfff;
    border: none;
    cursor: pointer;
}

.score{
    text-align: center;
    font-size: 36px;
    margin-bottom: 5px;
}

.playground > ul{
    border: 1px solid #333;
    width: 150px;
    margin: 0 auto;
}

.playground > ul > li{
    width: 100%;
    height: 15px;
}

.playground > ul > li > ul{
    display: flex;
}

.playground > ul > li > ul > li{
    width: 15px;
    height: 15px;
   outline: 1px solid #ccc;
}

.tree{
    background: red;
}

.bar{
    background: blue;

}

.zee{
    background: rgb(21, 255, 0);

}

.elLeft{
    background:orange;
}

.elRight{
    background: #16a085;
}

.square{
    background: indigo
}

.joistic{
    
    width: 150px;
    height: 100px;
    margin: 0 auto;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 5px;
}

.item{
    width: 100%;
    height: 100%;
    overflow:hidden;
    border: 1px solid #333;
}

.item1 > img{
    
    width:100%;
    height:100%;
    object-fit: contain;
}

.item2 > img{
    width:100%;
    height:100%;
    object-fit: contain;
}

.item3 > img{
    width:100%;
    height:100%;
    object-fit: contain;
}

.item4 > img{
    width:100%;
    height:100%;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .joistic{
        display: grid;
    }
}